<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>blogUpdate</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="styles/createpage.css">
</head>
<body>
  <%- include("partials/header.ejs") %>

  <form action="/updated" method="POST">
    <textarea name="blogTitle" id="blogTitle" cols="30" rows="2" ><%= firstLine %></textarea>
    <br>
    <textarea name="blogAuthor" id="blogAuthor" placeholder="Name of blogAuthor" cols="30" rows="2" ><%= secondLine %></textarea>
    <br>
    <textarea name="blogText" id="blogText" cols="60" rows="20"><%= restBlog %></textarea>
    <input type="hidden" name="blogPath" value="<%= blogPath %>">
    <input type="hidden" name="previousName" value="<%= firstLine %>">
    <input type="submit" name="submit" id="submit" value="Post Blog">
  </form>
  <%- include("partials/footer.ejs") %>

</body>
</html>